*{
  box-sizing: border-box;
  padding : 0;
  margin: 0;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  width: 100%;
  line-height: 100px;
  background-color: #f5ba13;
  display: flex;
  justify-content:start;
  align-items: center;
  padding-left:50px;
  color: white;
  box-shadow: 5px 3px 15px -5px rgba(0, 0, 0, 0.3);
}
.main_note{
  width:622px;
  padding: 15px 10px 5px 10px;
  margin : 20px;
}
.container{
  max-width: 620px;
  margin : 0 auto;
}
.container1 {
  max-width: 1100px;
  margin: 0 auto;
}
footer{
  position: absolute;
  bottom:0;
  text-align: center;
  width: 100%;
  background-color: yellow;

}
form {
  border: 1px solid;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.6), 0 2px 6px 2px rgba(0,0,0,0.302);
  width:600px;

}
input {
  padding: 10px 15px 12px 15px;
  border: none;
  outline: none;
  letter-spacing: .00625em;
  
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-bottom: 12px;
}
textarea{
  padding: 10px 15px 12px 15px;
  border: none;
  outline: none;
  letter-spacing: .00625em;
  
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-bottom: 12px;
}
.main_note form {
  display: flex;
  flex-direction: column;
}
.mybutton{
  position: relative;
  margin-top: -30px;
  float: right;

}
.mybutton1{
  position: relative;
  bottom:-33px;
  float: right;
  

}
button{
  border :none;
}

@media (max-width : 700px){
  form{
    width: 100%;
  }
  .mybutton{
    position: relative;
    margin-top: -30px;
    float: left;
  
  }
  .container{
    margin:0 auto;
    max-width: 392px;
  }
  .main_note {
    width:392px;
    padding:0;
    margin : 15px 0px  0px  0px;
  }
  .container1{
    max-width: 81%;
    margin : 0 auto; 
  }
}

.cont{

 display: inline-block;

}
.note{
 
  padding:12px;
  width: 240px;
  margin: 16px;
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.6), 0 2px 6px 2px rgba(0,0,0,0.302);
  letter-spacing: .01428571em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;

}
.note .head{
  min-height: 60px;
}
@media (max-width : 428px){
  .header {
    padding-left: 10px;
  }
  .header img{
    width:25%;
  }
  form{
    width: 100%;
  }
  .mybutton{
    position: relative;
    margin-top: -30px;
    float: left;
  
  }
  .container{
    margin:0 auto;
    max-width: 80%;
  }
  .main_note {
    width:100%;
    margin:50px 0px 0px 0px;
    padding:0;
  }
  .container1{
    max-width: 75%;
  
  }
}
@media (max-width : 328px) {
  form{
    width: 100%;
  }
  .container{
    margin:0 auto;
    max-width: 90%;
  }
  .container1{
    max-width: 85%;
  }

  
}